
<div class="card gedf-card">
	<div class="alert alert-dismissible alert-danger" *ngIf="status == 'error'">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		An error has ocurred while uploading your publication
	</div>
	<form #newPubForm="ngForm" (ngSubmit)=' onSubmit(newPubForm, $event); '>
	
    <div class="card-header mean-fruit-gradient color-block text-white">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                    a publication</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">                                
              <div class="form-group">
                    <label class="sr-only" for="message">post</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?" name="text" #text="ngModel" [(ngModel)]="publication.text" required></textarea>
                <span *ngIf="!text.valid && text.touched" class="text-danger">
					Make a comment
				</span>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)">
                        <label class="custom-file-label" for="customFile">Upload image</label>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar justify-content-between">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success" [disabled]="!newPubForm.form.valid">Post</button>
                </div>

            </div>
        </div>
    </form>
</div>
